{{ define "main" }}
<section class="ui-grid ui-grid-tile">
  <a href="/cetak/" role="link" aria-label="Lihat semua kemasan makanan dan minuman." class="ui-tile ui-tile-hero" style="background-color: #f3b021;">
    <div class="ui-tile-head">
      <h1>Cetak Kemasan Makanan &amp; Minuman</h1>
      <p class="ui-tile-info">Harga pas, hasil berkualitas.</p>
      <p class="ui-tile-more">Lihat Semua Kemasan</p>
    </div>
    <img src="/foto/cetak-kemasan.png" data-echo="/foto/cetak-kemasan-makanan-dan-minuman.jpg" alt="Cetak Kemasan Makanan dan Minuman" class="ui-img-cover ui-img-hero">
  </a>
  <a href="/cetak/" role="link" aria-label="Lihat semua paper bowl dan paper cups." class="ui-tile" style="background-color: #30B490;">
    <div class="ui-tile-head">
      <h2>Bowl &amp; Cups</h2>
      <p class="ui-tile-info">Minimum order 2.000 pcs.</p>
      <p class="ui-tile-more">Lihat Bowl &amp; Cups</p>
    </div>
    <img src="/foto/cetak-kemasan.png" data-echo="/foto/cetak-paper-bowl-dan-paper-cups.jpg" alt="Cetak Paper Bowl dan Paper Cups" class="ui-img-cover ui-img-subhero">
  </a>
  <a href="/cetak/" role="link" aria-label="Lihat semua kantong plastik." class="ui-tile" style="background-color: #5236bf;">
    <div class="ui-tile-head">
      <h2>Kantong Plastik</h2>
      <p class="ui-tile-info">Minimum order 1.000 pcs.</p>
      <p class="ui-tile-more">Lihat Kantong Plastik</p>
    </div>
    <img src="/foto/cetak-kemasan.png" data-echo="/foto/cetak-kantong-plastik.jpg" alt="Cetak Kantong Plastik" class="ui-img-cover ui-img-subhero">
  </a>
</section>
{{ end }}