<header role="banner" class="ui-wrap ui-grid ui-grid-header">
  <a href="{{ if .IsHome }}#{{ else }}{{ .Site.BaseURL }}{{ end }}" role="link" aria-label="Halaman Utama" class="ui-logo">Kursif</a>
  <a href="https://wa.me/6281215276715?text=Halo%2C%20Kursif%21%20Saya%20mau%20tanya%2E" role="link" aria-label="Hubungi kami melalui WhatsApp." target="_blank" rel="noopener nofollow noreferrer">
    <img src="/icon/whatsapp.svg" alt="WhatsApp" class="ui-icon-social">
  </a>
  <a href="https://instagram.com/kursif" role="link" aria-label="Follow kami di Instagram." target="_blank" rel="noopener nofollow noreferrer">
    <img src="/icon/instagram.svg" alt="Instagram" class="ui-icon-social">
  </a>
  <a href="mailto:halo@kursif.com" role="link" aria-label="Hubungi kami melalui email.">
    <img src="/icon/email.svg" alt="Email" class="ui-icon-social">
  </a>
</header>