<header role="banner" class="ui-wrap ui-grid ui-grid-header">
  <a href="{{ if .IsHome }}#{{ else }}{{ .Site.BaseURL }}{{ end }}" role="link" aria-label="Halaman Utama" class="ui-logo">
    <img src="/ikon/logo.svg" alt="Kursif" class="ui-logo-icon">
  </a>
  <div aria-label="Menu website." class="ui-menu-icon"></div>
  <nav role="navigation" class="ui-menu">
    <a href="{{ if eq .RelPermalink "/cetak/" }}#{{ else }}/cetak/{{ end }}" role="link" aria-label="Cetak kemasan makanan dan minuman." class="ui-menu-link">Produk</a>
  </nav>
  </nav>
</header>