/*--------------------------------------------------------------
TABLE OF CONTENT
----------------------------------------------------------------
1.0 FOUNDATION
|  1.1 LAYOUT
|  1.2 CARD
2.0 MAIN
3.0 MEDIA
|  3.1 768PX
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 FOUNDATION
--------------------------------------------------------------*/

/*--------------------------------------------------------------
|
| 1.1 LAYOUT
|
--------------------------------------------------------------*/

.ui-grid-card {
  background-color: var(--ui-color-secondary);
  grid-gap: .0625rem;
  grid-template-columns: repeat(2, 1fr);
}

/*--------------------------------------------------------------
|
| 1.2 CARD
|
--------------------------------------------------------------*/

.ui-card {
  background-color: var(--ui-color-primary);
  padding: 1.5rem;
  text-align: center;
}

/* LABEL */

.ui-card-label {
  font-size: var(--ui-typography-small);
  line-height: 1;
  padding-top: .875rem;
}

/*--------------------------------------------------------------
2.0 MAIN
--------------------------------------------------------------*/

main {
  border: 0 solid var(--ui-color-secondary);
  border-bottom-width: .0625rem;
  border-top-width: .0625rem;
}

/*--------------------------------------------------------------
3.0 MEDIA
--------------------------------------------------------------*/

/*--------------------------------------------------------------
|
| 3.1 768PX
|
--------------------------------------------------------------*/

@media screen and (min-width: 48rem) {
  
  .ui-grid-card { grid-template-columns: repeat(4, 1fr); }
  
  .ui-card {
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
  
}