/*--------------------------------------------------------------
TABLE OF CONTENT
----------------------------------------------------------------
1.0 HEADER
|  1.1 LOGO
2.0 MEDIA
|  2.1 360PX
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 HEADER
--------------------------------------------------------------*/

.ui-grid-header {
  align-items: center;
  grid-gap: var(--ui-gap);
  grid-template-columns: 1fr repeat(3, auto);
  position: relative;
}

/*--------------------------------------------------------------
|
| 1.1 LOGO
|
--------------------------------------------------------------*/

.ui-logo { margin-right: auto; }

.ui-icon-logo { height: 1rem; }

/*--------------------------------------------------------------
2.0 MEDIA
--------------------------------------------------------------*/

/*--------------------------------------------------------------
|
| 2.1 360PX
|
--------------------------------------------------------------*/

@media screen and (min-width: 22.5rem) {

  .ui-icon-logo,
  .ui-icon-social { height: 1.125rem; }
  
}