/*--------------------------------------------------------------
TABLE OF CONTENT
----------------------------------------------------------------
1.0 HEADER
|  1.1 LOGO
2.0 MEDIA
|  2.1 360PX
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 HEADER
--------------------------------------------------------------*/

.ui-grid-header {
  grid-gap: var(--ui-gap);
  grid-template-columns: 1fr repeat(3, auto);
  position: relative;
}

/*--------------------------------------------------------------
|
| 1.1 LOGO
|
--------------------------------------------------------------*/

.ui-logo {
  font-weight: 700;
  line-height: 1;
  margin-right: auto;
  text-transform: uppercase;
}

/*--------------------------------------------------------------
2.0 MEDIA
--------------------------------------------------------------*/

/*--------------------------------------------------------------
|
| 2.1 360PX
|
--------------------------------------------------------------*/

@media screen and (min-width: 22.5rem) {
  
  .ui-icon-social { height: 1.125rem; }
  
}