/*--------------------------------------------------------------
TABLE OF CONTENT
----------------------------------------------------------------
1.0 FOOTER
|  1.1 COPYRIGHT
|  1.2 SOCIAL
2.0 MEDIA
|  2.1 360PX
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 FOOTER
--------------------------------------------------------------*/

.ui-grid-footer {
  align-items: center;
  grid-template-columns: 1fr auto;
}

/*--------------------------------------------------------------
|
| 1.1 COPYRIGHT
|
--------------------------------------------------------------*/

.ui-copyright {
  color: var(--ui-text-secondary);
  font-size: var(--ui-typography-smaller);
  margin-bottom: 0;
}

/*--------------------------------------------------------------
|
| 1.2 SOCIAL
|
--------------------------------------------------------------*/

.ui-grid-social {
  align-items: center;
  grid-gap: calc(var(--ui-gap) - .25rem);
  grid-template-columns: repeat(3, auto);
}

.ui-social-link {
  border: .0625rem solid var(--ui-color-secondary);
  border-radius: 5rem;
  display: block;
  padding: .375rem;
}

.ui-social-icon { height: .875rem; }

/*--------------------------------------------------------------
2.0 MEDIA
--------------------------------------------------------------*/

/*--------------------------------------------------------------
|
| 2.1 360PX
|
--------------------------------------------------------------*/

@media screen and (min-width: 22.5rem) {
  
  .ui-social-icon { height: 1rem; }
  
}