/*--------------------------------------------------------------
TABLE OF CONTENT
----------------------------------------------------------------
1.0 FOOTER
|  1.1 COPYRIGHT
|  1.2 PAYMENT
2.0 MEDIA
|  2.1 360PX
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 FOOTER
--------------------------------------------------------------*/

.ui-grid-footer {
  align-items: center;
  grid-gap: var(--ui-gap);
  grid-template-columns: 1fr auto auto;
}

/*--------------------------------------------------------------
|
| 1.1 COPYRIGHT
|
--------------------------------------------------------------*/

.ui-copyright {
  color: var(--ui-text-secondary);
  font-size: var(--ui-typography-smaller);
  margin-bottom: 0;
}

/*--------------------------------------------------------------
|
| 1.2 PAYMENT
|
--------------------------------------------------------------*/

.ui-icon-payment {
  border: .0625rem solid var(--ui-color-secondary);
  border-radius: .25rem;
}

/*--------------------------------------------------------------
2.0 MEDIA
--------------------------------------------------------------*/

/*--------------------------------------------------------------
|
| 2.1 360PX
|
--------------------------------------------------------------*/

@media screen and (min-width: 22.5rem) {
  
  .ui-icon-payment { height: 1.75rem; }
  
}